<!DOCTYPE html>

<html lang="en-US">
  <head>
    <link href='//fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
    <style>
      body {background-color: mintcream;}
      h1 {
        color: lightseagreen;
        font-size: 36px;
      }
      p {
        color: teal;
        font-size: 20px;
      }
    </style>
    <title>Vi's Blog</title>
    <script>
    function mouseIn() {
    document.getElementById("dog").src = "recolored.jpg";
  }
    function mouseOut() {
    document.getElementById("dog").src = "brooklyn.jpg";
}
    </script>
  </head>
  <body>
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

    <p>This is a dog. (Not my dog.)</p>
    <img id = "dog" src = "brooklyn.jpg" onmouseover="mouseIn()" onmouseout="mouseOut()" style = "width:500px">

  </body>
</html>
